body {background-image: url("/asset/img/logo-afpa.jpg");
        background-size: 200px;}


.textehautgauche{
    font-weight: bold;
}

.centre{
    font-size:  120px;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
}

.ouebe{
    font-size:  30px;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
}

.hr{
    border-top: 5px solid #888787;
    overflow: visible;
    text-align: center;
    height: 15px;}