* {
    box-sizing: border-box;
}

body {
    /* background-color: rgb(195, 203, 215); */
    background-image: url(/asset/img/fond.jpg);
    background-position: center;
    background-size: contain;
}

#booksList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    box-shadow: 10px 5px 5px rgb(76, 67, 41);
}

h1 {
    color: rgb(241, 224, 151);
}

.card>h1 {
    font-size: 14px;
    color: black;
}

.card h2 {
    font-size: 12px;
}

.card h4 {
    font-size: 10px;
}

img {
    width: 200px;
    margin: auto;

}

.card {
    text-align: center;
    background-color: rgb(185, 166, 107);
}

#listAuthors,
#listCategories,
#saisie {
    margin: 1em;
}

div {
    margin: 0.5em;
}


@media (max-width: 1280px) {
    img {
        width: 50%
    }
}