@use 'sass:math';


@font-face {
    font-family: "myJournalFont";
    src: url(/AlfaSlabOne-Regular.ttf) format('truetype');
}

// On veut 3 colonnes et les répartir sur la largeur de la page, donc calcul  entre le nombre de colonnes et la largeur de la page (65%).
// math.div nécessaire avec @use 'sass:math' floor sert à arrondir à l'entier inférieur
$colNumber: 3;

$cardWidth: floor(math.div(65%, $colNumber));

$containerWidth : 1400px;

#triangle{
    display: inline-block;
}

#triangle::after{
    content: "\0025BD"
}

// ou 2ème solution
// #triangle{
    // content:"";
    // width: 0;
    // height: 0;
    // border-left: 6px solid transparent;
    // border-right: 6px solid transparent;
    // border-top: 10px solid #000;
    // display: inline-block;
    // }