/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

* {
    box-sizing: border-box;
}

body {
    background-image: url(assets/img/FondClair.avif);
    background-size: 120%;
    background-position: center;
}

section {
    margin: 3em;
}

h1,
h2 {
    color: rgb(189, 12, 12);
}

.mx-auto {
    font-style: italic;
    text-align: center;
    margin: 3em;
}

.btn {
    background-color: #87bb34;
    color: white;
}

.col-lg-5,
.m-2 {
    background-color: rgb(185, 148, 26);
    color: white;
    font-style: normal;
    font-weight: bold;
    border-radius: 50%;
}

p {
    margin-top: 4em;
}

#copyright {
    color: rgb(189, 12, 12);
}

span {
    color: rgb(189, 12, 12);
    text-decoration: underline rgb(189, 12, 12);
}


@media only screen and (max-width: 1280px) {

    #photo,
    #nutriscore {
        height: auto;
    }

    div {
        /* display: flex; */
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

    .btn {
        text-align: center !important;
        flex-direction: column;
    }
}