<section>
    <div class="container-fluid mx-auto">
        <div class="row">
                <div class="col-lg-6 mx-auto text-center">
        <div>
            <label for="recherche" class="form-label"></label>
            <input type="text" class="form-control" id="champ" aria-describedby="text">
            </div>
            <button type="submit" class="btn" id="bouton">Scanner</button>
        </div></div>
        </div>
    </section>
    <br>
    <section>
        <div class="container-fluid d-flex justify-content-around">
    
            <div class="col-lg-4 col-12 m-2 text-center" id="produit">
                <span>Produit</span>
            </div>
            <div class="col-lg-4 col-12 m-2 text-center" id="code">
                <span>Code Barre</span>
            </div>
            <div class="col-lg-4 col-12 m-2 text-center" id="marque">
                <span>Marque</span>
            </div></div>
    </section>
    <br>
    <section>
        <div class="container-fluid d-flex justify-content-around">
    
    <div class="col-lg-6 col-12 m-2 text-center" id="photo">
        <span>Photo</span>
    </div>
    <div class="col-lg-6 col-12 m-2 text-center" id="ingredients">
        <span>Ingrédients</span>
    </div></div>
    </section>
    <section>
    <div class="container-fluid d-flex justify-content-around">
        <div class="col-lg-6 col-12 m-2 text-center" id="allergenes">
        <span>Allergènes</span>
    </div>
        <div class="col-lg-6 col-12 m-2 text-center" id="emballage">
        <span>Emballage</span>
    </div>
    </div>
    </section>
    
    <section>
        <div class="container-fluid d-flex justify-content-around">
            
            <div class="col-lg-4 col-12 m-2 text-center" id="nova">
                <span>Nova</span>
            </div>
            <div class="col-lg-4 col-12 m-2 text-center" id="nutriscore">
                <span>Nutriscore</span>
            </div>
            <div class="col-lg-4 col-12 m-2 text-center" id="huile">
                <span>Huile de Palme</span>
            </div></div>
    </section>
    
    <section>
        <div class="container-fluid d-flex justify-content-around">
            
            <div class="col-lg-4 col-12 m-2 text-center" id="distributeur">
                <span>Distributeur</span>
            </div>
            <div class="col-lg-4 col-12 m-2 text-center" id="fabricant">
                <span>Pays fabricant</span>
            </div>
            <div class="col-lg-4 col-12 m-2 text-center" id="pays">
                <span>Pays de commmercialisation</span>
            </div></div>
    </section>
