<article>
    <div class="container-fluid mx-auto">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <div>
                    <label for="recherche" class="form-label"></label>
                    <input [formControl]="produit" type="text" class="form-control" id="champ" aria-describedby="text">
                </div>
                <button (click)="afficherValeur()" type="submit" class="btn btn-outline-success"
                    id="bouton">Scanner</button>
            </div>
        </div>
    </div>
</article>
<br>
<section>
    <div class="container-fluid d-flex justify-content-around">

        <div class="col-lg-4 col-12 m-2 text-center" id="produit">
            <span>Produit</span><br>
            <h3>{{nom}}</h3>
        </div>
        <div class="col-lg-4 col-12 m-2 text-center" id="code">
            <span>Code Barre</span><br>
            <h3>{{codeBarre}}</h3>
        </div>
        <div class="col-lg-4 col-12 m-2 text-center" id="marque">
            <span>Marque</span><br>
            <h3>{{marque}}</h3>
        </div>
    </div>
</section>
<br>
<section>
    <div class="container-fluid d-flex justify-content-around">

        <div class="col-lg-6 col-12 m-2 text-center" id="photo">
            <span>Photo</span><br><img src="{{photo}}">
        </div>
        <div class="col-lg-6 col-12 m-2 text-center" id="ingredients">
            <span>Ingrédients</span><br>
            <p>{{ingredients}}</p>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid d-flex justify-content-around">
        <div class="col-lg-6 col-12 m-2 text-center" id="allergenes">
            <span>Allergènes</span><br>{{allergenes}}
        </div>
        <div class="col-lg-6 col-12 m-2 text-center" id="emballage">
            <span>Emballage</span><br>{{emballage}}
        </div>
    </div>
</section>

<section>
    <div class="container-fluid d-flex justify-content-around">

        <div class="col-lg-4 col-12 m-2 text-center" id="nova">
            <span>Nova</span><br>
            <h3>{{nova}}</h3>
        </div>
        <div class="col-lg-4 col-12 m-2 text-center" id="nutriscore">
            <span>Nutriscore</span><br>
            <h3>{{nutriscore}}</h3>
        </div>
        <div class="col-lg-4 col-12 m-2 text-center" id="huile">
            <span>Huile de Palme</span><br>
            <h3>{{palme}}</h3>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid d-flex justify-content-around">

        <div class="col-lg-4 col-12 m-2 text-center" id="distributeur">
            <span>Distributeur</span><br>{{distributeur}}
        </div>
        <div class="col-lg-4 col-12 m-2 text-center" id="fabricant">
            <span>Pays fabricant</span><br>{{fabricant}}
        </div>
        <div class="col-lg-4 col-12 m-2 text-center" id="pays">
            <span>Pays de commmercialisation</span><br>{{pays}}
        </div>
    </div>
</section>